.ramya
{
    position: absolute; ;
    top: 250px;
    left: 1090px;
    width: 500px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-link
{ color: white;
    
}

.nav-link:hover
{
  background:white ; 
  color: black; 
}
video
{
    position: relative;
    left:00px;
    bottom: 00px;
    z-index: -2;
    height: auto;
    width: auto;
    min-width: 80%;
    min-height: 80%;
}
